<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vytvoř Inzerát</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>

<div align="center">
    <br><a th:href="@{/}">Vrať se zpátky</a></br>
    <form action="#" th:action="@{/saveInzerat}" th:object="${inzerat}"
          method="post">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Ulož">
            <input type="reset" id="resetButton" name="reset" th:value="Vymaž"/>
            <table>
                <thead>
                <tr>
                    <th> Kategorie</th>
                    <th> Text</th>
                    <th> Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td  th:field="*{kategorie}">
                    <select name="kategorie">
                        <option value="Nákup">Nákup</option>
                        <option value="Prodej">Prodej</option>
                        <option value="Výměna">Výměna</option>
                    </select> </td>

                    <td><input type="text" th:field="*{text}"></td>
                    <td><input type="text" th:field="*{cena}"></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>

</body>
</html>