<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Vytvoř položku</title>

</head>
<body>

<br><a th:href="@{/}">Vrať se zpátky</a></br>

<!--<form action="#" th:action="@{/books/save}" th:object="${form}"-->
<!--      method="post">-->
<!--    <fieldset>-->
<!--        <input type="submit" id="submitButton" th:value="Save">-->
<!--        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th> Title</th>-->
<!--                <th> Author</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="book, itemStat : *{inzeraty}">-->
<!--                <td><input th:field="*{books[__${itemStat.index}__].title}"/></td>-->
<!--                <td><input th:field="*{books[__${itemStat.index}__].author}"/></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </fieldset>-->
<!--</form>-->
</body>
</html>