<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vytvoř Inzerát</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div align="center">
    <br><a th:href="@{/}">Vrať se zpátky</a></br>
    <form action="#" th:action="@{/saveInzerat}" th:object="${inzerat}"
          method="post">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Save">
            <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
            <table>
                <thead>
                <tr>
                    <th> Kategorie</th>
                    <th> Text</th>
                    <th> Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" th:field="*{kategorie}"></td>
                    <td><input type="text" th:field="*{text}"></td>
                    <td><input type="text" th:field="*{cena}"></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>

</body>
</html>