<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Změn inzerát</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>

<div align="center">
    <button type="submit" role="button" class="button-5"> <a th:href="@{/}">Vrať se zpátky</a></button>

    <form action="#" th:action="@{/editInzerat}" th:object="${inzeratEdit}"
          method="post">
        <fieldset>
            <input class="button-5" type="submit" id="submitButton" th:value="Ulož">
            <table border="1">
                <tr>
                    <th>Kategorie</th>
                    <th>Text</th>
                    <th>Cena</th>
                </tr>
                <tr>
                    <td th:field="*{kategorie}">
                        <select name="kategorie">
                            <option value="Nákup">Nákup</option>
                            <option value="Prodej">Prodej</option>
                            <option value="Výměna">Výměna</option>
                        </select></td>
                    <td><input type="text" th:field="*{text}"></td>
                    <td><input type="text" th:field="*{cena}"></td>
                    <td><input type="hidden" th:field="*{id}"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>

</body>
</html>